@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Teko:wght@300..700&display=swap');
:root{
    --light_text: rgb(105, 255, 240);
    --highlight_text: rgba(255, 48, 72, 0.971);
    --hight_red: rgba(210, 0, 25, 0.971);
    --midnight-green: #1a5972;
}

/* ANIMATION FOR THE BACKGROUND */
@keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}

@keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 50px;
  }
  100% {
    width: 0;
  }
}

@keyframes shooting {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(300px);
  }
}

/* for the profile image */
@keyframes shining{
    50%{
        box-shadow: 0 0 1px 0.3px whitesmoke,
                    0 0 3cm 0.3px whitesmoke,
                    0 0 6px 0.3px rgba(220, 208, 208, 0.242),
                    0 0 9px 0.3px rgba(220, 208, 208, 0.246);
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: wheat;
}

body {
  margin: 0;
  padding: 0;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow-x: hidden;
  font-family: 'Anton', sans-serif;
}
  
.night {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.shooting_star {
  rotate: 45deg;
  position: fixed;
  height: 2px;
  background: linear-gradient(-45deg, rgba(95, 145, 255, 1), rgba(0, 0, 255, 0));
  border-radius: 999px;
  filter: drop-shadow(0 0 6px rgba(105, 155, 255, 1));
  animation: tail 3s ease-in-out infinite, shooting 3s ease-in-out infinite;
}

.shooting_star::before,
.shooting_star::after {
  content: '';
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), rgba(95, 145, 255, 1), rgba(0, 0, 255, 0));
  border-radius: 100%;
  animation: shining 3s ease-in-out infinite;
}



.shooting_star::before {
  content: '';
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), rgba(95, 145, 255, 1), rgba(0, 0, 255, 0));
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  animation: shining 3s ease-in-out infinite;
}

.shooting_star::after {
  content: '';
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), rgba(95, 145, 255, 1), rgba(0, 0, 255, 0));
  transform: translateX(50%) rotateZ(-45deg);
  border-radius: 100%;
  animation: shining 3s ease-in-out infinite;
}
header{
    font-family: "Teko", sans-serif;
    padding: 10px 40px;
    z-index: 3;
    position: fixed;
    width: 100vw;
    top: 0;
}
.logo a{
    font-family: "Teko", sans-serif;
    letter-spacing: 5px;
    font-size: 1.5rem;
    color: var(--light_text);
}
header a{
    text-decoration: none;
    color: var(--light_text);
}
.header-container{
    padding: 10px 20px;
}
.menu{
  background-color: rgba(0, 0, 0, 0.417);
  height: 100vh;
  width: auto;
  min-width: 150px;
  right: 0;
  top: 0;
  position: fixed;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}

.menu-container img{
  width: 20px;
  cursor: pointer;
  scale: 2.5;
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 3;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.header input {
  display: none;
  position: relative;
  cursor: pointer;
  scale: 2.5;
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 3;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.header input:checked ~ .menu{
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.header input:checked ~ .header input + .menu-container img{
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}



.menu ul{
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    text-align: end;
    gap: 40px;
}
.menu ul li{
    font-weight: 100;
    letter-spacing: 2px;
    display: inline;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.3rem;
}

main{
  font-family: "Poppins", sans-serif;
  padding: 10px 40px;
}

#home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
section .home-container{
    display: flex;
    justify-content: center;
    width: 50%;
}

section .home-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Orbitron", serif;
    /* border: 2px solid var(--light_text); */
    border-radius: 1rem;
    padding: 20px 45px;
    gap: 20px;
    background-color: #090a0f;
    /* box-shadow: 0 0 5px 2px wheat,
                0 0 10px 2px wheat,
                0 0 12px 2px wheat,
                0 0 14px 2px wheat; */
    transform: 
        perspective(5000px)
        rotateY(var(--rotateY))
        rotateX(var(--rotateX));
    transform-style: preserve-3d;
    position: relative;
}

.home-card::before,
.home-card::after{
    content: "";
    position: absolute;
    border-radius: inherit;
}

.home-card::before{
    inset: 0.75rem;
    background: black;
    transform: translateZ(-49px);
    filter: blur(18px);
    opacity: 0.6;
}

.home-card::after{
    inset: 0rem;
    background:
        linear-gradient(220deg, rgb(2, 255, 188), rgb(144, 0, 255));
    transform: translateZ(-50px);
}

section .home-card h1, section .home-card h2{
    font-family: "Orbitron", serif;
}

.profile-img img{
    width: 140px;
    height: auto;
    margin-top: -40px;
    margin-bottom: 20px;
    border-radius: 50%;
    box-shadow: 0 0 10px 0.3px whitesmoke,
                0 0 15cm 0.3px whitesmoke,
                0 0 20px 0.3px rgba(220, 208, 208, 0.259),
                0 0 25px 0.3px rgba(220, 208, 208, 0.264);

    animation: shining 3.5s ease-in-out infinite;
    
}
.text-wrapper{
    text-align: center;
}

.text-box1{
    margin-top: -1.5rem;
    opacity: 0;
    transform: translateY(100%); 
    animation: fadebox1 10s ease-in-out infinite;
}

.text-box2{
    opacity: 0;
    animation: fadebox2 10s ease-in-out infinite;
}

@keyframes fadebox1 {
    0%{
        opacity: 0;
    }
    25%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}

@keyframes fadebox2 {
    50%{
        opacity: 0;
    }
    75%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.home-card .social-media{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-card .social-media a{
    display: flex;
    justify-content: center;
    padding: 0 0;
}

.home-card .social-media img{
    width: 60%;
    transform-style: preserve-3d;
    animation: rotateAngle 3s ease-in-out infinite;
}

.home-card .social-media img:hover{
    scale: 1.3;
    transform:
        perspective(9000px)
        rotateY(20deg)
        rotateX(20deg);
    transition: 0.3s ease-in-out;
    filter: drop-shadow(0 0 10px var(--midnight-green));
}

@keyframes rotateAngle {
	0% {
		transform: rotateY(0deg) rotateX(10deg);
		animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
	}
	25% {
		transform: rotateY(20deg) rotateX(10deg);
	}
	50% {
		transform: rotateY(0deg) rotateX(10deg);
		animation-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
	}
	75% {
		transform: rotateY(-20deg) rotateX(10deg);
	}
	100% {
		transform: rotateY(0deg) rotateX(10deg);
	}
}



section:not(:nth-child(1)){
  min-height: 100vh;
  background-color: rgba(178, 13, 13, 0.143);
}

.main-container section:nth-child(even){
    background-color: rgba(0, 0, 0, 0.020);
    backdrop-filter: blur(3px);

}

.about-card{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    column-gap: 10px;
    row-gap: 20px;

    background-color: #090a0f10;
    height: auto;
    min-height: 100vh;
    padding: 3% 5%;
    position: relative;
}

.about-card .card{
    flex: 0 1 30%;
    height: 500px;
    width: 20%;
    min-width: 330px;
    max-width: 350px;
    border-radius: 10px;
    background-color: rgba(50, 122, 184, 0.412);
    backdrop-filter: blur(5px);
    overflow: hidden;
}

.card-container{
  display: inherit;
  column-gap: 10px;
}

.card-container:hover>
:not(:hover){
  transition: all 0.5s ease-in-out;
  opacity: 0.5;
}

.about-card .card .card-content{
  padding: 2px 20px ;
  text-overflow: clip;
}

.about-card .card img{
    width: 100%;
    height:100px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 10px 0.3px rgba(148, 148, 148, 0.598),
                0 0 15cm 0.3px rgba(165, 165, 165, 0.648),
                0 0 20px 0.3px rgba(220, 208, 208, 0.475),
                0 0 25px 0.3px rgba(220, 208, 208, 0.445);

}
.card .sparkle{
  animation:sparkle 1s infinite;
  color:#91e2ff;
  font-size:30px;
  position:absolute;
  top:0px;
  left:5px;
  transform:rotate(45deg) ;
  -webkit-text-stroke:2px #000;
  -moz-text-stroke:2px #000;
  -ms-text-stroke:2px #000;
}

@keyframes sparkle{
    0%{
      transform:scale(1) rotate(0deg);
      opacity:1
    }
    50%{
      transform:scale(1.5) rotate(180deg);
      opacity:1
    }
    100%{
      transform:scale(0.5) rotate(360deg);
      opacity:0
    }
  }

.about-card .card h1{
    font-family: "Orbitron", serif;
    margin: 5px 0;
    padding-bottom: 5px;
    text-align: center;
}




@media (max-width: 780px) {
  #home{
    padding-bottom: 10%;
  }
  section .home-container{
    width: 90%;
  }
  section .home-card{
    width: 100%;
    transform: 
        perspective(5000px)
        rotateY(20deg)
        rotateX(20deg);
    transform-style: preserve-3d;
    position: relative;
    margin: 10px;
  }
  .menu{
    display: none;
  }

  header{
    backdrop-filter: blur(3px);
  }

  section .home-card h1, section .home-card h2{
    font-size: 1.2rem;
    width: 100%;
  }
}



  