@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Teko:wght@300..700&display=swap');
:root{
    --light_text: rgb(105, 255, 240);
    --highlight_text: rgba(255, 48, 72, 0.971);
    --hight_red: rgba(210, 0, 25, 0.971);
    --midnight-green: #1a5972;
}

/* ANIMATION FOR THE BACKGROUND */
@keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}

@keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}

@keyframes shooting {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(300px);
  }
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: wheat;
}

body {
  margin: 0;
  padding: 0;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow-x: hidden;
  font-family: 'Anton', sans-serif;
}
  
.night {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.shooting_star {
  rotate: 45deg;
  position: fixed;
  height: 2px;
  background: linear-gradient(-45deg, rgba(95, 145, 255, 1), rgba(0, 0, 255, 0));
  border-radius: 999px;
  filter: drop-shadow(0 0 6px rgba(105, 155, 255, 1));
  animation: tail 3s ease-in-out infinite, shooting 3s ease-in-out infinite;
}

.shooting_star::before,
.shooting_star::after {
  content: '';
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), rgba(95, 145, 255, 1), rgba(0, 0, 255, 0));
  border-radius: 100%;
  animation: shining 3s ease-in-out infinite;
}



.shooting_star::before {
  content: '';
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), rgba(95, 145, 255, 1), rgba(0, 0, 255, 0));
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  animation: shining 3s ease-in-out infinite;
}

.shooting_star::after {
  content: '';
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), rgba(95, 145, 255, 1), rgba(0, 0, 255, 0));
  transform: translateX(50%) rotateZ(-45deg);
  border-radius: 100%;
  animation: shining 3s ease-in-out infinite;
}
header{
    font-family: "Teko", sans-serif;
    padding: 10px 40px;
    z-index: 3;
    position: fixed;
    width: 100vw;
    top: 0;
}
.logo a{
    font-family: "Teko", sans-serif;
    letter-spacing: 5px;
    font-size: 1.5rem;
    color: var(--light_text);
}
header a{
    text-decoration: none;
    color: var(--light_text);
}
.header-container{
    padding: 10px 20px;
}
.menu ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    text-align: end;
    gap: 40px;
}
.menu ul li{
    font-weight: 100;
    letter-spacing: 2px;
    display: inline;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.3rem;
}

main{
  font-family: "Poppins", sans-serif;
  padding: 10px 40px;
}

#home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
section .home-container{
    display: flex;
    justify-content: center;
    width: 50%;
}

section .home-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Orbitron", serif;
    /* border: 2px solid var(--light_text); */
    border-radius: 1rem;
    padding: 20px 45px;
    gap: 20px;
    background-color: #090a0f;
    /* box-shadow: 0 0 5px 2px wheat,
                0 0 10px 2px wheat,
                0 0 12px 2px wheat,
                0 0 14px 2px wheat; */
    transform: 
        perspective(5000px)
        rotateY(var(--rotateY))
        rotateX(var(--rotateX));
    transform-style: preserve-3d;
    position: relative;
}

.home-card::before,
.home-card::after{
    content: "";
    position: absolute;
    border-radius: inherit;
}

.home-card::before{
    inset: 0.75rem;
    background: black;
    transform: translateZ(-49px);
    filter: blur(18px);
    opacity: 0.6;
}

.home-card::after{
    inset: 0rem;
    background:
        linear-gradient(220deg, red, blue);
    transform: translateZ(-50px);


}

section .home-card h1, section .home-card h2{
    font-family: "Orbitron", serif;
}

.profile-img img{
    width: 120px;
    height: auto;
    margin-top: -40px;
    margin-bottom: 30px;
    border-radius: 50%;
    box-shadow: 0 0 5px 0.3px whitesmoke,
                0 0 6cm 0.3px whitesmoke,
                0 0 7px 0.3px rgb(220, 208, 208),
                0 0 8px 0.3px rgb(220, 208, 208);
}

.home-card .social-media{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-card .social-media a{
    display: flex;
    justify-content: center;

}

.home-card .social-media img{
    width: 60%;
}

section{
    height: 100vh;
}


  